$primary: #1abc9c;
$dark: #2c3e50;
$white: #ffffff;

//font size
$font-size-base: 0.875rem !default;

//fonts
$font-family-base: "Poppins";

//button
$btn-font-weight: 600;

//dropdown
$dropdown-bg: $dark;
$dropdown-border-color: $dark;
$dropdown-border-radius: 8px;
$dropdown-padding-x: 4px;
$dropdown-padding-y: 4px;

$dropdown-link-color: $white !default;
$dropdown-link-hover-color: $white !default;
$dropdown-link-hover-bg: darken($dark, 10%) !default;

$dropdown-item-padding-y: 8px !default;
$dropdown-item-padding-x: 8px !default;

$dropdown-link-active-color: $white !default;
$dropdown-link-active-bg: darken($dark, 10%) !default;

//checkbox images
$form-check-input-width: 1.5em !default;
$form-check-min-height: 1.5em !default;
$form-check-input-checked-color: $primary;
$form-check-input-border: 1px solid #ecf0f1;
$form-check-input-border-radius: 0;
$form-check-input-focus-border: $dark;
// $form-check-input-checked-bg-image: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' fill='#{$white}' clip-rule='evenodd' d='M19.117 8.02031L9.98357 17.1538L4.88379 12.054L6.0623 10.8755L9.98357 14.7968L17.9385 6.8418L19.117 8.02031Z' /></svg>") !default;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(#clip0_4_4707)'><path stroke='white' stroke-width='1.5'  d='M4.13879 8.50005L7.61102 11.9723L14.5555 5.02783' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_4_4707'><rect fill='#{$white}'  width='16.6667' height='16.6667'  transform='translate(0.666626 0.166748)'/></clipPath></defs></svg>") !default;
